# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always normalize and ensure LF in repo
*.js text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
node_modules/** -text